[submodule "plugins/typo3_forge"]
	path = plugins/typo3_forge
	url = https://github.com/TYPO3-infrastructure/rm_typo3_forge.git
[submodule "public/themes/TYPO3"]
	path = public/themes/TYPO3
	url = https://github.com/TYPO3-infrastructure/rm_typo3_forge_theme.git
[submodule "plugins/redmine_silencer"]
	path = plugins/redmine_silencer
	url = https://github.com/paginagmbh/redmine_silencer.git
