{"filter":false,"title":"configuration.yml.example","tooltip":"/config/configuration.yml.example","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1412775253716,"hash":"2afe3a9d1dffc60a308c061827cb242cebd90efa"}